<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
</head>
<body>
<!-- The data encoding type, enctype, MUST be specified as below -->
<form enctype="multipart/form-data" action="/" method="POST" id="fileForm">
    <input type="hidden" value="{{ maxSize }}" id="maxSize">
    <!-- MAX_FILE_SIZE must precede the file input field -->
    <!-- Name of input element determines name in $_FILES array -->
    Send this file: <input name="upload" type="file" id="upload"/>
    <br>
    <input type="submit" value="Send File" />
</form>


<script>
    document.getElementById('fileForm').addEventListener('submit', fileInfo);
    function fileInfo(event){
        event.preventDefault();
        if (document.getElementById('upload').files[0]) {
            let spaceLeft = document.getElementById('maxSize').value;
            let fileName = document.getElementById('upload').files[0].name;
            let fileSize = document.getElementById('upload').files[0].size;
            let fileType = document.getElementById('upload').files[0].type;
            let nameExt = fileName.split('.').pop();

            if (fileType.includes('image') || nameExt === 'txt') {
                if (fileSize < spaceLeft)
                    document.getElementById('fileForm').submit();
                else
                    alert("Max file size must be below 10 MB");
            } else {
                alert("File must be an image or text");
            }
        } else {
            alert("Please, choose a file to upload");
        }
    }
</script>
</body>
</html>